## Error page
ErrorDocument 404 http://www.customers.developers4you.nl/404.php

## Rewrite
RewriteEngine On
RewriteRule ^(.*) index.php?page=$1
RewriteRule ^web/phpinfo inc/functions/phpinfo.php
RewriteRule ^web/changelog/(.*) pages/changelogs/changelog$1.txt
